* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/background.jpg");
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 24px;
}

.middleSection {
  margin-left: 180px;
}

.logo {
  max-width: 260px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.desktopMenu {
  display: flex;
  gap: 20px;
}

/* .navItem {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
} */

.orderFood {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 25px;
  color: #ccc;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
}

.navItem:hover {
  color: #fff;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.socialIcon {
  color: white;
}

.hamburger {
  display: none;
}

.mobileMenu {
  display: none;
}

.active {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
  z-index: 100;
  gap: 24px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
}

.sloganContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
}

.slogan {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modalContent {
  background-color: #1b1b1b;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  width: 80vw;
  max-width: 1200px;
  background-image: url("/an1.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.modalImages {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.modalItem {
  text-align: center;
}

.modalImage {
  width: 300px;
  height: 300px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  /* background-color: #333; */
}

.modalTitle {
  font-size: 32px;
  color: #ccc;
  margin-bottom: 50px;
}

.modalBtn {
  background-color: #ffda7b;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.modalBtn:hover {
  background-color: #e6b65e;
}

.closeModalBtn {
  color: #ccc;
  background-color: none;
  padding: 10px 20px;
  background: none;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  appearance: none;
  border: 1px solid #ccc;
  margin-top: 20px;
  cursor: pointer;
}

.closeModalBtn:hover {
  color: #000;
  background-color: #ccc;
}

.btn {
  color: #ccc;
  background-color: none;
  padding: 10px 20px;
  background: none;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  appearance: none;
  border: 1px solid #ccc;
  /* margin-top: 20px; */
  cursor: pointer;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .logo {
    width: 100px;
  }

  .middleSection {
    margin-left: 0;
  }

  .rightSection {
    gap: 24px;
  }

  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .active {
    display: flex;
    gap: 24px;
  }

  .modalImages {
    flex-direction: column;
  }

  .modalImage {
    width: 250px;
    height: 250px;
  }

  .modalItem {
    margin-bottom: 20px;
  }

  .modalContent {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
    overflow-y: auto;
    max-height: 90vh;
  }

  .modalLeft {
    width: 100%;
    padding: 20px;
  }

  .modalRight {
    width: 100%;
    padding: 20px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .closeModalBtn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}
