.offersSection {
  background-color: #0D0D0C;
  padding: 50px 0;
  text-align: center;
  /* margin: 0 auto; */
  /* margin-bottom: 50px; */
  /* margin-top: 50px; */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.an1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  animation: floatUpDown 4s ease-in-out infinite;
}

.an2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 250px;
  animation: floatUpDown 4s ease-in-out infinite;
  z-index: 0;
}

.carouselArrows {
  display: flex;
  align-self: center;
  gap: 25px;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #ccc;
}

.titleContainer h2 {
  font-size: 36px;
  margin: 0 20px;
  color: #ccc;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #ccc;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.offerItems {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.arrow {
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.offerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 9999;
}

.offerImage {
  width: 350px;
  height: 250px;
  object-fit: fill;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offerButton {
  color: #ccc;
  background-color: none;
  padding: 10px 20px;
  background: none;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  appearance: none;
  border: 1px solid #ccc;
  margin-top: 20px;
  cursor: pointer;
}

.offerButton:hover {
  color: #000;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .offersSection {
    padding: 30px 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    height: 100%;
  }

  .offerItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .offerItem {
    width: 90%;
    margin-bottom: 20px;
  }

  .carouselContainer {
    flex-direction: column;
    gap: 20px;
    width: auto;
    position: relative;
  }

  .carouselArrows {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .titleContainer {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .arrow {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
  }
}
