.offersSection {
  background: linear-gradient(
    98.3deg,
    rgb(0, 0, 0) 10.6%,
    rgb(255, 0, 0) 97.7%
  );
  padding: 50px 0;
  text-align: center;
  max-width: 1550px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #f4f4f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  color: #ffda7b;
}

.titleContainer h2 {
  font-size: 36px;
  margin: 0 20px;
  color: #ffda7b;
}

.line {
  width: 80px;
  height: 2px;
  background-color: #ffda7b;
}

.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.offerItems {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.arrow {
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.offerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 220px;
  height: 320px;
}

.offerImage {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offerButton {
  color: #000;
  background-color: #ffda7b;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.offerButton:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .offersSection {
    padding: 30px 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 90%;
    max-width: 100%;
  }

  .offerItems {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .offerItem {
    width: 90%;
    margin-bottom: 20px;
  }

  .carouselContainer {
    flex-direction: column;
    gap: 20px;
    width: auto;
    position: relative;
  }

  /* Позициониране на стрелките под карусела */
  .carouselArrows {
    display: flex;
    justify-content: center; /* Центрира стрелките */
    margin-top: 20px; /* Добавя разстояние под карусела */
  }

  .arrow {
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px; /* Разстояние между стрелките */
  }
}
